@font-face {
    font-family: ProximaNova sans-serif;
    font-weight: 400;
    src: url("Shrifts/ProximaNova-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ship {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Proxima Nova, sans-serif;
    height: 40px;
    font-size: 12px;
    background-color: #33333A;
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;

    padding: 0 150px;
    height: 80px;
    box-shadow: 0 1px 0 0 #0000001A;
}

.header .left, .header .right {
    display: flex;
    align-items: center;
}

.header a {
    margin-right: 40px;

    color: #33333A;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    font-family: ProximaNova, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.header a.active {
    color: #FF5E1B;
}

.logo {
    position: relative;
    top: -8px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-photo {
    width: 40px;
    height: 40px;

    margin-left: 10px;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    cursor: pointer;
}

.ad {
    width: 1440px;
    height: 600px;
    top: 120px;
    background-color: #F3F3F3;
}
.apparels {
    top: 175px;
    left: 543px;
    font-size: 60px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 0;
    text-align: center;
    color:#33333A;
    font-family: 'Roboto', sans-serif;
}
.history {
    width: 555px;
    top: 290px;
    left: 385px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    font-family: ProximaNova, sans-serif;
}
.adPicture {
    width: 399px;
    height: 600px;
    top: -2px;
    left: 905px;
}
.nav {
    width: 1440px;
    height: 60px;
    top: 720px;
    box-shadow: 0 5px 20px 0 #0000000D;
}
.women {
    top: 741px;
    left: 153px;
    font-family: Proxima Nova, sans-serif;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;


}
.sorting {
    top: 730px;
    left: 1025px;

}
.sortBy {
    top: 732px;
    left: 1025px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;
    color: #333333;
    font-family: Roboto, sans-serif;
}


.filters {
    width: 260px;
    height: 802px;
    top: 833px;
    left: 153px;
    border: 1px solid #000000
}
.products {
    width: 848px;
    height: 2103px;
    top: 820px;
    left: 443px;
    background-color: red;
}
.footer {
    width: 1440px;
    height: 320px;
    top: 2980px;
    background-color: #33333A;
}
.category {
    width: 87px;
    height: 178px;
    top: 41px;
    left: 149px;
}
.categories {
    width: 87px;
    height: 30px;
    top: 41px;
    left: 149px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
}
.aboutUs {
    width: 84px;
    height: 125px;
    top: 94px;
    left: 149px;
    font-family: Proxima Nova, sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: left;
    color: #DEDEDE;
}
.partner {
    width: 117px;
    top: 41px;
    left: 345px;
}
.partners {
    width: 69px;
    top: 41px;
    left: 345px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
}
.support {
    width: 117px;
    top: 94px;
    left: 345px;
    font-family: Proxima Nova, sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: left;
    color: #DEDEDE;
}
.contact {
    width: 87px;
    top: 41px;
    left: 538px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
}
