@font-face {
    font-family: ProximaNova sans-serif;
    font-weight: 400;
    src: url("Shrifts/ProximaNova-Regular.ttf");
}
* {
    margin: 0;
}
.ship {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Proxima Nova, sans-serif;
    height: 40px;
    font-size: 12px;
    background-color: #33333A;
    color: #ffffff;

}

.header {

    position: absolute;
    width: 1440px;
    height: 80px;
    top: 40px;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 #0000001A;

}
.logo {
    position: absolute;
    width: 127px;
    height: 40px;
    top: 20px;
    left: 150px;
}
.shop {
    position: absolute;
    left: 311px;
    top: 33px;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #FF6008;
    font-family: ProximaNova, sans-serif;
}
.fabric {
    position: absolute;
    top: 33px;
    left: 399px;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    color: black;
    font-family: ProximaNova, sans-serif;
}
.journal {
    position: absolute;
    top: 33px;
    left: 498px;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    color: black;
    font-family: ProximaNova, sans-serif;
}
.about {
    position: absolute;
    top: 33px;
    left: 613px;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    color: black;
    font-family: ProximaNova, sans-serif;
}
.profile {
    position: absolute;
    width: 157px;
    height: 40px;
    top: 20px;
    left: 953px;

}
.welcome {
    position: absolute;
    width: 107px;
    top: 13px;
    font-family: Proxima Nova, sans-serif;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
    color: black;

}
.profilePhoto {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 117px;


}
.search {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    left: 1140px;

}
.heart {
    position: absolute;
    width: 20px;
    height: 18px;
    top: 31px;
    left: 1200px;

}
.shop-bag {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 1250px;

}
.ad {
   position: absolute;
    width: 1440px;
    height: 600px;
    top: 120px;
    background-color: #F3F3F3;
}
.apparels {
    position: absolute;
    top: 175px;
    left: 543px;
    font-size: 60px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 0;
    text-align: center;
    color:#33333A;
    font-family: 'Roboto', sans-serif;
}
.history {
    position: absolute;
    width: 555px;
    top: 290px;
    left: 385px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    font-family: ProximaNova, sans-serif;
}
.adPicture {
    position: absolute;
    width: 399px;
    height: 600px;
    top: -2px;
    left: 905px;
}
.nav {
    position: absolute;
    width: 1440px;
    height: 60px;
    top: 720px;
    box-shadow: 0 5px 20px 0 #0000000D;
}
.women {
    position: absolute;
    top: 741px;
    left: 153px;
    font-family: Proxima Nova, sans-serif;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;


}
.sorting {
    position: absolute;
    top: 730px;
    left: 1025px;

}
.sortBy {
    position: absolute;
    top: 732px;
    left: 1025px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;
    color: #333333;
    font-family: Roboto, sans-serif;
}


.filters {
    position: absolute;
    width: 260px;
    height: 802px;
    top: 833px;
    left: 153px;
    border: 1px solid #000000
}
.products {
    position: absolute;
    width: 848px;
    height: 2103px;
    top: 820px;
    left: 443px;
    background-color: red;
}
.footer {
    position: absolute;
    width: 1440px;
    height: 320px;
    top: 2980px;
    background-color: #33333A;
}
.category {
    width: 87px;
    height: 178px;
    top: 41px;
    left: 149px;
}
.categories {
    position: absolute;
    width: 87px;
    height: 30px;
    top: 41px;
    left: 149px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
}
.aboutUs {
    position: absolute;
    width: 84px;
    height: 125px;
    top: 94px;
    left: 149px;
    font-family: Proxima Nova, sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: left;
    color: #DEDEDE;
}
.partner {
    width: 117px;
    top: 41px;
    left: 345px;
}
.partners {
    position: absolute;
    width: 69px;
    top: 41px;
    left: 345px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
}
.support {
    position: absolute;
    width: 117px;
    top: 94px;
    left: 345px;
    font-family: Proxima Nova, sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
    text-align: left;
    color: #DEDEDE;
}
.contact {
    position: absolute;
    width: 87px;
    top: 41px;
    left: 538px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    color: #FFFFFF;
}
