.wrapper {
    padding: 52px 150px 57px;
    display: flex;
    gap: 30px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products img {
    width: 263px;
    height: 480px;
}
.product  {
    padding: 0 29px 40px 0;

}
.product-name {
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 25px;
}
.product-cost {
    display: flex;
    font-size: 14px;
    line-height: 30px;
}


