.wrapper {
    padding: 52px 150px 57px;
    display: flex;
    gap: 30px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 2103px;
    background-color: #FF5E1B;
}
.products img {
    padding: 40px 30px;
    width: 263px;
    height: 480px;
}
.product-name {
    display: flex;
    top: 402px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
}
.product-cost {
    display: flex;
    top: 457px;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
}


